[Desktop Entry]
Encoding=UTF-8
Name=Bata Core
Comment=Connect to the Bitcoin P2P Network
Comment[de]=Verbinde mit dem Bata peer-to-peer Netzwerk
Comment[fr]=Bata, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bata, eşten eşe kriptografik sanal para birimi
Exec=bata-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
